body{
background-color:#f8f4f8;
}
.weather-container {
width: 500px;
background-color: white;
display: center;
margin: 50px auto;
padding: 35px;
border-radius:20px;
box-shadow: 5px 9px 5px 1px rgba(0,0,0,0.08);
}

.weather-input-form{
margin-bottom:10px;
}

strong{
color:#7F00FF;
}

#weather-city-input{
background-color:#f4f1ff;
//background-color:#eaf9ff;
border-radius:8px;
width:80%;
padding:12px;
border: 1px solid white;
}

#weather-submit{
background-color:#7F00FF;
color:white;
border-radius:8px;
padding:12px;
border: 1px solid white;
}

.weather-sub-container {
display:flex;
justify-content:space-between;
}

.weather-info{
line-height:2em;
}

.weather-app-info{
font-weight:400;
font-size:14px;
}

.weather-temperature{
display:flex;
margin-top:20px;
}

.weather-icon{
margin-top:6px;
}

.weather-degree {
font-size:70px;
font-weight:600;
padding-top:0px;
}
img{
width:70px;
}
.weather-unit{
margin-top:12px;
font-size:20px;
}

.weather-about{
font-size:12px;
font-weight:500;
padding-top:28px;

}
a{
color:#7F00FF;
font-weight:100px;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}